html {
    height: 100%;
}
#instructions {
    margin: .5em;
    text-align: center;
}
#instructions-text {
    margin-top: .5em;
    text-align: center;
}

#color-wheel {
    min-height: 400px;
}

#footer {

}

#albumsContainer {
    margin-left: 0px;
    margin-right: 0px;
    height: 500px;
}
